// Colors
$black1: #333333;
$black2: #000000;
$white1: #ffffff;
$gray1: #F0EBFF;
$gray2: #E5E6E8;
$gray3: #BDBDBD;
$gray4: #F8F8F8;
$gray5: #e2e2e2;
$purple1: #7859CF;
$purple2: #9070EC;
$purple3: #593CAC;
$pink1: #F3EBE1;
$blue1: #EAE6FC;

// Fonts
$main-font: "Montserrat", "Arial", sans-serif;

// Transition
$default-transition-settings: 0.13s ease-in-out;
$transition-long: 0.3s ease-in-out;
$modal-settings: 0.1s cubic-bezier(0.55, 0, 0.1, 1);

// Breakpoints
$sm-max: 767.9px;
$md: 768px;
$md-max: 1439.9px;
$lg: 1440px;

// Retina
$retina-dpi: 144dpi;
$retina-dppx: 1.5dppx;

// Padding
$padding--lg: 40px;
$padding--sm: 20px;
